!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Ale
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "css/materialize.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/css?family=Baloo+Thambi|Luckiest+Guy|Righteous|Roboto", :rel => "stylesheet"}

  %body
    = yield
    %script{:src => "assets/js/materialize.js", :type => "text/javascript"}