!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type", 'initial-scale': '1', 'maximum-scale': '1'}/
    %title Ale
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', href: 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag 	 'application', href: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
